.Carousel-Wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .Slider-Wrapper {
      position: relative;
      height: 500px;
      width: 100%;
  }

  
.ppSlide {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}


.extra-info {
    width: 20%;
    white-space: pre-wrap;
}

.extra-info .hide {
    display: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
         appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}